@import '~normalize.css';

#app {
  display: flex;
  justify-content: center;
}

.cardP {
  width: 57px;
  height: 38px;
  margin: 5px;
}

.grey {
  color: #9395a4;
  font-weight: normal;
}

.appRow {
  margin-top: 20px;
}

.mainRow {
  margin-top: 20px;
  display: flex;
}

.solid {
  font-weight: bold;
}

.altPay {
  width: 162px;
  height: 62px;
}

.infoBlock {
  display: flex;
  justify-content: space-between;
}

.infoBlock-info {
  width: 270px;
}

.aStyle {
  color: #65b767;
}

@media screen and (max-width: 800px) {
  .paymentWindow {
    width: 100vw;
  }
}
